<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            background-color: #fedb5b;
        }
    </style>
</head>
<body>
    <h1>Admin</h1>
    <img src="qr.svg">
</body>