name: "Auto Guest Login"
description: "A web server that provides an easy way for guests to get access to Home Assistant"
version: "1.1.0"
slug: "ha-auto-guest-login"
init: false
image: "norick/image-{arch}-ha-auto-guest-login-addon"
codenotary: cnathanorick@gmail.com
url: https://github.com/cnorick/ha-auto-guest-login
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
hassio_api: true
hassio_role: default

ports:
  80/tcp: 8675
ports_description:
  80/tcp: the port at which the guest-login web server will be available.

options:
  guest_username:
  guest_password:
  guest_dashboard_path: lovelace/default_view
  welcome_screen_delay_ms: 3000
  welcome_screen_main_text: Thanks for Visiting
  welcome_screen_secondary_text: Redirecting to Home Assistant...

schema:
  guest_username: str
  guest_password: password
  guest_dashboard_path: str
  welcome_screen_delay_ms: int(0,)
  welcome_screen_main_text: str
  welcome_screen_secondary_text: str
